{% extends 'base.html' %}
{% load static %}
{% load humanize %}
{% block head_title %}Library Management System{% endblock %}

{% block content %}

<div class="my-10 py-3 px-4 bg-white rounded-xl shadow-md pb-12">
  <h1 class="font-bold text-3xl text-center pb-5 pt-2">User Info</h1>
  <h1 class="font-bold text-xl pt-2 px-12">Name: {{user.first_name}} {{user.last_name}}</h1>
  <h1 class="font-bold text-xl pt-2 px-12">Email: {{user.email}}</h1>
  <button class="mx-12 mt-4 bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded focus:outline-none focus:shadow-outline">
    <a href="{% url 'profile' %}">Update User Info</a>
  </button>
</div>

<div class="my-10 py-3 px-4 bg-white rounded-xl shadow-md">
    <h1 class="font-bold text-3xl text-center pb-5 pt-2">Borrowing History</h1>
    <hr />
    <table
      class="table-auto mx-auto w-full px-5 rounded-xl mt-8 border dark:border-neutral-500"
    >
      <thead class="bg-purple-900 text-white text-left">
        <tr
          class="bg-gradient-to-tr from-indigo-600 to-purple-600 rounded-md py-2 px-4 text-white font-bold"
        >
          <th class="px-4 py-2">Title</th>
          <th class="px-4 py-2">Price</th>
          <th class="px-4 py-2">Borrowing Date</th>
          <th class="px-4 py-2">Action</th>
        </tr>
      </thead>
      <tbody>
        {% for each in books %}
        <tr class="border-b dark:border-neutral-500">
          <td class="px-4 py-2">
              {{ each.book.title }}
          </td>
          <td class="px-4 py-2">
            $ {{ each.book.price }}
          </td>
          <td class="px-4 py-2">
            {{ each.borrowing_date|date:"F d, Y h:i A" }}
          </td>
          {% if each.returned_date %}
          <td class="px-4 py-2">
            <button name="return_book" type="submit" class="mb-2 block text-center text-white py-2 px-4 mt-2 mx-4 font-bold p-2 bg-gray-600 rounded">Returned</button>
          </td>
          {% else %}
          <td class="px-4 py-2">
            <form method="post" action="{% url 'return_book' pk=each.book.id %}?next={{ request.path }}" class="mt-4">
              {% csrf_token %}
              <div class="text-center">
                  <button name="return_book" type="submit" class="mb-2 block text-center text-white py-2 px-4 mt-2 mx-4 font-bold p-2 bg-blue-900 rounded hover:border-transparent hover:text-dark hover:bg-red-700">Return</button>
              </div>
            </form>
          </td>
          {% endif %}
        {% endfor %}
      </tbody>
    </table>
</div>

{% endblock %}